{% extends "base.html" %}

{% block title %}Catálogo{% endblock %}

{% block content %}

<div class="container">

    <!-- 🔍 BUSCADOR -->
    <form method="get" class="search-form">
    <div class="search-box">
        <input
            type="text"
            name="q"
            placeholder="Buscar productos..."
            value="{{ query }}"
        >
        <button type="submit" class="search-btn">
            🔍
        </button>
    </div>
</form>

    <br>

    <!-- 📦 PRODUCTOS -->
    {% include "catalogo/lista_productos.html" %}

</div>

{% endblock %}